.nav-item a,.mail-list-btn a{
	color: #B90000 !important;
	font-size: 14px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
.nav-item a:hover,.mail-list-btn a:hover{
	color: #F60 !important;
}
.mail-list-btn {
	font-weight: bolder;
	background-color: #DFDFDF;
}
ul,ol {
	list-style: none;
	margin: 0;padding: 0;
}
.curled-h1 {
	font-size: 80px;
	color: #FFF;
}
h1.banner {
	font-size: 40px;
}
h3.banner {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.font-vivaldi {
	font-family: Vivaldi;
}
.font-trebuchet {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.red-orange-gradient {
    background: linear-gradient(315deg,rgb(155, 0, 0),35%, rgb(219, 0, 0), 85%, #f8ff1152);
}
.bg-red {
	/*background-color: #DD0000;*/
}
.body-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	flex:1;
}
footer {
	/*color: white;*/
	font-size: 0.9rem;
	/*background-color: #DD0000;*/
}
/*@media screen and (max-width:399px) {
}
@media screen and (min-width:400px) {
}*/
@media screen and (min-width:576px) {
	header h1.banner {
		font-size: 60px !important;
	}
	header h3.banner {
		font-size: 20px !important;
	}
}
@media screen and (min-width:768px) {
	.player-body > div{
		max-width: 392px !important;
	}
}
@media screen and (min-width:992px) {
	header h1.banner {
		font-size: 80px !important;
	}
	header h3.banner {
		font-size: 25px !important;
	}
}	
/*@media screen and (min-width:1200px) {
}*/