.nav-item a,.mail-list-btn a{
	color: #B90000 !important;
	font-size: 14px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
.nav-item a:hover,.mail-list-btn a:hover{
	color: #F60 !important;
}
.mail-list-btn {
	font-weight: bolder;
	background-color: #DFDFDF;
}
ul,ol {
	list-style: none;
}